{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'lab3/halamanbuku.css' %}">
    <meta charset="UTF-8">
    <title>Buku</title>


</head>
<body>
    <div class="mainFrame" >
        <div class="layer"></div>

        <div class="profilePicture p-3">
            <img src="https://s15.postimg.cc/csj0ae1qz/Webp.net-resizeimage.jpg" class="profilePicture" height="120" width="120">
        </div>

        <div class="judulHalaman">
            <p>REKOMENDASI BUKU</p>
        </div>
        <div class="pencetan pl-4">
            <a class="btn pt-2" href="/">Kembali</a>
        </div>
    </div>

</body>
</html>