<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    *   {
        box-sizing : border-box;
    }

    body {
        padding: 0;
        margin: 0;
        font-size: 12px;
        font-family: sans-serif;
    }

    .FullProfile{
        float : left;
        width : 33.3%;
        padding: 2px;
    }

    .row::after{
    content : "";
       clear: both;
       display: table;
    }

    .resize_fit_center {
        max-width:100%;
        max-height:100%;
        vertical-align: middle;
    }


    </style>
    <meta charset="UTF-8">
    <title>{{ name }}</title>

</head>
<body>

    <div class="row">
        <div class="FullProfile">
        <div class="ProfilePicture">
        <img class="resizeCenter"
             src="https://s15.postimg.cc/csj0ae1qz/Webp.net-resizeimage.jpg"
             alt = "Profile Picture" />
        </div>

        <div class="Biodata">
            <h1>Hello my name is {{ name }}</h1>
            <h2>I am {{ age }} years old</h2>
            <h3>NPM : 1706044010</h3>
        </div>
    </div>

    <div class="FullProfile">
        <div class="ProfilePicture">
        <img class="resizeCenter"
             src="https://s15.postimg.cc/nvy11suy3/Yayan.jpg"
             alt = "Profile Picture2" />
        </div>

        <div class="Biodata">
            <h1>This is my friend,his name is {{ name2 }}</h1>
            <h2>He is {{ age }} years old</h2>
            <h3>NPM : 1706043973</h3>
        </div>
    </div>

    <div class="FullProfile">
        <div class="ProfilePicture">
        <img class="resizeCenter"
             src="https://s15.postimg.cc/kdm15g4cr/Komputer_Lab.jpg"
             alt = "Profile Picture3" />
        </div>

        <div class="Biodata">
            <h1>This is a {{ name3 }}</h1>
        </div>
    </div>


    </div>






</body>
</html>
