{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'lab3/index_lab2.css' %}">
        <title>Faishal Ammar</title>

    </head>
    <body>
        <div class="mainFrame">

            <div class="layer"></div>

            <div class="profilePicture p-3">
                <img src="https://s15.postimg.cc/csj0ae1qz/Webp.net-resizeimage.jpg" class="profilePicture" height="120" width="120">
            </div>

            <div class="profileCaption">
                <span class="nama">Faishal Ammar</span>

                <div class="intro pl-2">
                    <p>Tertarik pada dunia start up,    desain, pemrograman dan fotografi </p>
                </div>
            </div>

            <div class="pencetan pl-4">
                <a class="btn" href="/halamanBuku">Buku </a>
            </div>

            <div class="pencetan2 pl-4">
                <a class="btn" href="/bukuTamu" >Form</a>
            </div>


        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>