body,html{
    height: 100%;
    margin: 0;
}
.mainFrame  {
    position: relative;
    background-image: url("https://i.postimg.cc/FHBGSDTG/Webp.net-resizeimage.jpg" );
    background-position: center;
    background-size: cover;
    height: 20%;
    width: 100%;
}
.layer {
    background-color: #3875d7;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.profilePicture{
    border-radius: 20px;
    position: absolute;
    top: 29px;
}
.judulHalaman{
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 50px;
    position: relative;
    top: 12%;
    color: white;
    align-items: center;
    text-align: center;
}
.btn{
    text-align: center;
    width: 120px;
    height: 50px;
    background-color: rgba(125, 206, 130, 0.8);
    border-radius: 20px;
    border: white;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-style: black;
    font-size: 20px;
    color: white;
    line-height: 23px;
    border-color: white;
    border-width: thick;
    border-style: solid;
}
.pencetan{
    position: absolute;
    top: 25%;
    left: 85%;
}
